FLASK_ENV=development
SECRET_KEY=cadpoint-secret-key-production-2026

MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/cadpoint_db?retryWrites=true&w=majority
DB_NAME=cadpoint_db

RESEND_API_KEY=re_123456789_your_key_here
SENDER_EMAIL=notifications@caddpoint.co.in
ADMIN_EMAIL=support@caddpoint.co.in

WHATSAPP_TOKEN=EAAG...your_meta_token_here
WHATSAPP_PHONE_ID=100000000000000
